<div class="center hero-unit">
  <h1>Welcome to OCHRTracker</h1>

  <p>This app is used by OC for salary tracking. </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
