<footer class="footer">
  <small>
    <a href="http://originatechina.com/">OCHRTracker</a> by Sameer Karim
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>